<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="baikal.web.footballapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".user.activity.AddTournament"></activity>
        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="baikal.web.footballapp.protocol.ProtocolPage"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PersonalActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_personal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_transition"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".home.activity.FullscreenNewsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tournament.activity.CommandInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_command_info"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".FullScreenImage"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.UserInfo"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".user.activity.NewCommand"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.UserCommandInfo"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.UserEditClub"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.RefereesMatches"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.EditTimeTable"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.ProtocolEdit"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.ProtocolEventsEdit"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.ResponsiblePersons"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.ProtocolMatchScore"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.ProtocolScore"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.ProtocolCommand1"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".players.activity.PlayerInv"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".club.activity.NewClub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".user.activity.RegistrationUser"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".user.activity.ConfirmProtocol"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.StructureCommand1"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.MatchResponsiblePersons"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.MatchEvents"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.AddEvent"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.PlayerAddToTeam"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tournament.activity.ShowProtocol"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>